<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Infeenity Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
</head>

<body>
    <div class="wrapper">

        <!-- header -->
        <%-include('../partials/header.ejs')%>
            <!-- header end -->

            <!-- Sidebar -->
            <%-include('../partials/sidebar.ejs')%>
                <!-- End Sidebar -->

                <div class="main-panel">
                    <div class="content">

                        <div class="page-inner ">
                            <form action="/admin/addUser" method="POST">
                                <input type="text" name="firstName">
                                <input type="text" name="lastName">
                                <input type="email" name="email">
                                <input type="number" name="contactNumber">
                                <select name="gender" id="gender">
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                </select>
                                <select name="role" id="role">
                                    <option value="0">admin</option>
                                    <option value="1">Product Manager</option>
                                    <option value="2">Power User</option>
                                </select>
                                <button type="submit">add</button>
                            </form>
                        </div>
                    </div>
                    <%-include('../partials/footer.ejs')%>
                </div>

    </div>

</body>

</html>