<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Inbound PMS</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/css/atlantis.min.css" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="/assets/css/demo.css" />
  <link rel="stylesheet" href="/assets/css/kk_style.css" />
  <link rel="stylesheet" href="/assets/css/kk_wizard.css" />
  <link rel="stylesheet" href="/assets/css/iziToast.min.css" />
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <!-- Fonts and icons -->
  <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
  <script>
    WebFont.load({
      google: { families: ["Lato:300,400,700,900"] },
      custom: { families: ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ["/assets/css/fonts.min.css"] },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>
</head>

<body>
  <div class="wrapper">
    <%-include('../partials/config')%>

      <!-- header -->
      <%-include('../partials/header.ejs')%>
        <!-- header end -->

        <!-- Sidebar -->
        <%-include('../partials/sidebar.ejs')%>
          <!-- End Sidebar -->

          <div class="main-panel">
            <div class="content">
              <div class="page-inner">
                <div class="page-header">
                  <ul class="breadcrumbs">
                    <li class="nav-home">
                      <a href="/admin/dashboard">
                        <i class="flaticon-home"></i>
                      </a>
                    </li>
                    <li class="separator">
                      <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                      <a href="#">Product Data</a>
                    </li>
                    <li class="separator">
                      <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                      <a href="#">Fields</a>
                    </li>
                  </ul>
                </div>

                <div class="container-fluid">

                 <div class="d-flex justify-content-end">
                   <button class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#addRowModal">Add More</button>
                 </div>
                  <div class="card ">
                  <div class="table-responsive">
                    <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                      <div class="row">
                        <div class="col-sm-12">
                          <table id="add-row" class="display table table-borderless table-hover dataTable" role="grid"
                            aria-describedby="add-row_info">
                            <thead>
                              <tr>
                                <th rowspan="1" colspan="1">Input File</th>
                                <th rowspan="1" colspan="1">Output</th>
                                <th rowspan="1" colspan="1">Predictions</th>
                                <th rowspan="1" colspan="1">
                                  Status
                                </th>
                                <th rowspan="1" colspan="1">
                                  Started At
                                </th>
                                
                              </tr>
                            </thead>

                            <tbody id="table-body">

                            </tbody>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <%-include('../partials/footer.ejs')%> -->
          </div>
  </div>
  <!--   Core JS Files   -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header no-bd">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <div class="form-group">
            <label class="form-label">Upload File</label>
            <br>
            <label for="et_pb_contact_brand_file_request_0" class="et_pb_contact_form_label"></label>
            <input type="file" name="file" id="et_pb_contact_brand_file_request_0" class="file-upload">
          </div>
          
      </div>
      <div class="modal-footer no-bd">
        <button type="submit" id="addRowButton" onclick="sendFileToProcess()" class="btn btn-primary">Start The Process<i class=" ml-3"></i></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

  <!-- jQuery library -->
  <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="/assets/js/core/bootstrap.js"></script>

  <!-- Atlantis JS -->
  <script src="/assets/js/atlantis.min.js"></script>
  <script src="/assets/js/iziToast.js"></script>
  <script src="/assets/js/flashMessage.js"></script>
  <!-- Datatables -->
  <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
  <!-- Popper JS -->
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/clientScript.js"></script>
  <!-- jQuery UI -->
  <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>

  <script src="/assets/js/kk_wizard.js"></script>
  <!-- jQuery Scrollbar -->
  <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  

  <script>
    $(document).ready(function () {
     
       fetch('http://localhost:4000/api/processes').then(res => res.json()).then(json => {
      if (json.processes.length) {
        json.processes.forEach(process => {
          var tr = document.createElement('tr');
          for (var key in process) {
            let td
            let td2
            if (key == 'inputFile') {
               td = document.createElement('td');
               td.innerHTML = `<a href="http://localhost:4000/api/processes/${process._id}/input" class="text-primary" download>${process.inputFile.originalname}<a>`
            }
             if (key == 'status') {
              td = document.createElement('td');
              td.innerHTML = `<span class="badge badge-${process[key].toString() == 'Done' ? 'success' : 'danger'}">${process[key]}</span>`
            }
            if (key == '_id') {
               td = document.createElement('td'); 
               td2 = document.createElement('td'); 
               if(process.status === 'Done'){
                 td.innerHTML = `<a href="http://localhost:4000/api/processes/${process._id}/output" class="text-primary" download>download<a>`
                  td2.innerHTML= `<a href="http://localhost:4000/api/processes/${process._id}/predictions" class="text-primary" download>download<a>`
                  }else{
                    td.innerHTML = `<a href="#" class="text-primary">In Progress<a>`
                    td2.innerHTML = `<a href="#" class="text-primary">In Progress<a>`
                  }
               }
           
            if (key == 'createdAt') {
               td = document.createElement('td');
               td.innerHTML = process.createdAt 
              }
           if(td) tr.appendChild(td);
           if(td2) tr.appendChild(td2);
          }
          $('#table-body').append(tr)
        })
      }
       })

      const allowedExtensions = /(\.csv|)$/i;
      $('input[type="file"]').on('click', function () {
        $(".file_names").html("");
      })
      if ($('input[type="file"]')[0]) {
        var fileInput = document.querySelector('label[for="et_pb_contact_brand_file_request_0"]');
        fileInput.ondragover = function () {
          this.className = "et_pb_contact_form_label changed";
          return false;
        }
        fileInput.ondragleave = function () {
          this.className = "et_pb_contact_form_label";
          return false;
        }
        fileInput.ondrop = function (e) {
          e.preventDefault();
          console.log(e.dataTransfer);
          var fileNames = e.dataTransfer.files;
          for (var x = 0; x < fileNames.length; x++) {

            $ = jQuery.noConflict();
            $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames[x].name + "</div>");
          }
        }
        $('#et_pb_contact_brand_file_request_0').change(function () {
          var fileNames = $('#et_pb_contact_brand_file_request_0')[0].files[0].name;
          var filePath = $('#et_pb_contact_brand_file_request_0').val();
          console.log(filePath);
          if (!allowedExtensions.exec(filePath)) {
            iziToast.error({ message: 'Only csv files are allowed' })
            selectedFile = false;
            $('#et_pb_contact_brand_file_request_0').val('')
            return false;
          }
          $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames + "</div>");
          $('label[for="et_pb_contact_brand_file_request_0"]').css('background-color', '##eee9ff');
        });
      }
    });



  </script>
</body>

</html>