<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inbound PMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">

    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Lato:300,400,700,900"]
            },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ['/assets/css/fonts.min.css']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <style>
 .fieldsLinker div {
    font-weight: bold;
}

.fieldsLinker ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: normal;
}

tr td  {
    padding-left: 10px;
}

tr td:not(:last-child)  {
    border-right: 1px solid grey;
}

.fieldsLinker li {
    border: solid 1px grey;
    padding: 5px 2px 5px 8px;
    margin-top: 7px;
    margin-bottom: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    background-color: #fff;
    background: linear-gradient(#ffffff, #e9e9e9);
    color: black;
    border-radius: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fieldsLinker li.selected {
    -webkit-filter: invert(100%);
    filter: invert(100%);    
}

.fieldsLinker li[data-mandatory='true'] {
    background-color: #D7504C;
    background: linear-gradient(#D7504C, #C12F2B);
    color: white;
}

.fieldsLinker li.inactive {
    opacity: 0.5;
}

.fieldsLinker li.linkOver {
    border: solid 2px transparent; /*plus 1px*/
    padding: 4px 1px 4px 7px; /* minus 1px*/
}


	
	/* ---------- */
	
	label{
		font-weight:300;
		display:inline-block;
	}
	
	label input[type='radio']{
		vertical-align: top;
	}
	
	label.active{
		font-weight:600;
		color: #2e44b9;
	}
	
	
	.bonds{
		min-width:700px;
		width : 50%;
		min-height:410px;
	}
	 
	.radio-zone{
		padding: 0px 8px 0px 8px;
		border-radius:2px;
		min-width:300px;
	}
	.presentation{
		line-height : 14px;
		font-size : 12px;
	}
	
	hr{
		margin-bottom : 10px;
		margin-top:10px;
	}
	
	.fieldLinkerSave {
		display:inline-block;
	}
	
	
input[type=radio] {
	font-size: 11px;
	cursor: pointer;
}

input[type=checkbox]::before{
  content: "";
  display: inline-block;
  font-size: inherit;
  float:left;
  font-weight:bold;
  margin-left:0;
  margin-right:2px;
  border: 2px solid #337ab7;
  border-radius : 3px;
  padding : 5px;
  margin-top:0px;
  color:black;
  background: white;
}

input[type=checkbox].active::after {
    content: "";
    display: inline-block;
    font-size: inherit;
    float: left;
	transform: rotate(45deg);
    margin-left: 6px;
    margin-top:-13px;
	height: 10px;
	width:  5px;
    color: #337ab7;
	border-bottom: 2px solid #337ab7;
	border-right:  2px solid #337ab7;
}

div.action-check.off {
    color: silver;
}

div.action-check {
    color: black;
    cursor: pointer;
    font-size: 18px;
}

input[type=radio]:before {
	background: white;
	border: 2px solid #337ab7;
	border-radius: 50%;
	margin-top: -2px;
	margin-right: 6px;
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 14px;
	height: 14px;
}

	input[type=radio]:checked:before {
		background: #337ab7;
		border-color: #337ab7;
		box-shadow: inset 0px 0px 0px 2px #fff;
	}
	.choices{
		display:inline-block;
		margin-right:40px;
	}
	
	.choices label{
		margin-left:4px;
		margin-right:4px;
		vertical-align:8%;
	}
	
	.choices label.group{
		font-weight:bold;
	}
	
	.nice-group{
		width:680px;
		line-height: 16px;
		padding:10px;
		border:1px solid #ccc;
		background-color:#fff;
		border-radius:5px;
	}
	.nice-group legend {
		color: #337ab7;
		width:120px;
		font-size:14px !important;
		border-bottom:none;
		
	}
    </style>


</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->

                    <div class="main-panel">
                        <div class="content">
                            <div class="page-inner bg-white">
                                <div class="page-header">

                                    <ul class="breadcrumbs">
                                        <li class="nav-home">
                                            <a href="/admin/dashboard">
                                                <i class="flaticon-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">System</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">User Managment</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Users</a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="container-fluid">
                                  
                                    <div id="container" class="row">

                                        <div class="col-md-6">
                                            <div class="bonds" id="original" style="display:block; margin: 30px auto">
                                            
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <ul id="fieldLinkPreview" style="max-width: 80%;margin: 30px auto;">
                                                
                                            </ul>
                                        </div>
                                        
                                    
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <%-include('../partials/footer.ejs')%>
                    </div>

    </div>
    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>

   
    <!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Atlantis JS -->
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="/assets/js/fieldLinker.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<script>
   let fieldLinks;
    let inputOri;
    $(document).ready(function () {
        inputOri = {
            "localization": {
            },
            "options": {
                "associationMode": "manyToMany", // oneToOne,manyToMany
                "lineStyle": "square-ends",
                "buttonErase": "Erase Links",
                "displayMode": "original",
                "whiteSpace": 'normal',
                "mobileClickIt": false
            },
            "Lists": [
                {
                    "name": "Columns in files",
                    "list": [
                        "firstName",
                        "lastName",
                        "phone",
                        "email",
                        "role",
                        "Birthday",
                        "Adress",
                        "[Main-stats][Global-sales-stats][European-region][France]",
                        "City"
                    ]
                },
                {
                    "name": "Available Fields",
                    "list": [
                        "Company",
                        "jobTitle",
                        "adress",
                        "adress",
                        "adress",
                        "first_name",
                        "last_name",
                        "email_adress",
                        "Phone number",
                        "Pourcentage of france in the global market",

                    ],
                    "mandatories": [
                        "last_name",
                        "email_adress"
                    ]
                }
            ],
            "existingLinks": [{ "from": "lastName", "to": "email_adress" },{ "from": "lastName", "to": "last_name" }, { "from": "firstName", "to": "first_name" }, { "from": "role", "to": "jobTitle" }]
        };


        $(".fieldLinkerSave").on("click", function () {
            var results = fieldLinks.fieldsLinker("getLinks");
            $("#output").html("output => " + JSON.stringify(results));
        });


        fieldLinks = $("#original").fieldsLinker("init", inputOri);

        previewMapped()
    });


    $("input[name='associationMode']").on("click", function () {
        let choice = $(this).val();
        fieldLinks.fieldsLinker("changeParameters", { "associationMode": choice });
    });

    $("input[name='enable']").on("click", function () {
        let choice = $(this).val();

        fieldLinks.fieldsLinker(choice);
    });

    $("input[name='lineStyle']").on("click", function () {
        let choice = $(this).val();
        fieldLinks.fieldsLinker("changeParameters", { "lineStyle": choice });
    });

    $("input[name='whiteSpace']").on("click", function () {
        let choice = $(this).val();
        fieldLinks.fieldsLinker("changeParameters", { "whiteSpace": choice });
    });

    $("input[name='mobileClickIt']").on("click", function () {
        let isCheck = $(this).prop("checked");
        if (isCheck)
            $(this).addClass("active");
        else
            $(this).removeClass("active");

        $("#original").html = "";
        inputOri.options.mobileClickIt = isCheck;
        fieldLinks = $("#original").fieldsLinker("init", inputOri);

    });

    const previewMapped = () =>{
        let data =  fieldLinks.fieldsLinker("getLinks");
        let liItems = '';
        if(data.error) return iziToast.error({message: data.errorMessage})
        if(data.links.length){
            data.links.forEach(link=>{
                liItems+= ` <li class="kkay_field_map_link">
                                <div class="k_field">${link.from}</div>
                                <i class="fas fa-arrows-alt-h"></i>
                                <div class="k_field">${link.to} </div>
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-times-circle"></i></a>
                            </li>`
            })
            $('#fieldLinkPreview').append(liItems)
        }
        
    }
</script>

</body>

</html>