<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <%transactions.forEach(t => {%>
        <div>
            <a href="/admin/product/all?page=1&limit=10&transactionId=<%=t.id%>"><%=t.id%></a>
        </div>
    <%})%>
</body>
</html>