<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Infeenity Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

        <!-- header -->
        <%-include('../partials/header.ejs')%>
            <!-- header end -->

            <!-- Sidebar -->
            <%-include('../partials/sidebar.ejs')%>
                <!-- End Sidebar -->

            <div class="main-panel">
                <div class="content">

                </div>
                <%-include('../partials/footer.ejs')%>

            </div>

    </div>
    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <script>
         function changeActive(id) {
                iziToast.question({
                    overlay: true,
                    toastOnce: true,
                    id: 'question',
                    title: 'Hey',
                    message: 'Are you sure?',
                    position: 'center',
                    buttons: [
                        ['<button><b>YES</b></button>', function (instance, toast) {
                            call(id)
                            instance.hide({ transitionOut: 'fadeOut' }, toast)
                        }, true],
                        ['<button>NO</button>', function (instance, toast) {
                            instance.hide({ transitionOut: 'fadeOut' }, toast);
                        }]
                    ]
                });
            }
            const call = (id) => {
                fetch(`/admin/user/${id}`, {
                    method: 'DELETE'
                })
                    .then(res => res.json())
                    .then(json => {
                        if (json.status === 200) {
                            iziToast.info({
                                message: json.message
                            })
                            $(`#activeBadge-${id}`).text(json.active ? 'ACTIVE' : 'INACTIVE')
                            document.querySelector(`#activeBadge-${id}`).classList.remove('badge-success')
                            document.querySelector(`#activeBadge-${id}`).classList.remove('badge-danger')
                            document.querySelector(`#activeBadge-${id}`).classList.add(json.active ? 'badge-success' : 'badge-danger')
                            $(`#changeActiveStudent-${id}`).empty()
                            $(`#changeActiveStudent-${id}`).append(`
                            <i class="fas ${json.active ? 'fa-trash' : 'fa-undo'}"></i>
                        `)
                        } else {
                            iziToast.error({
                                message: json.message
                            })
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
    </script>
</body>

</html>