<div style="display: none;">
    <div class="flash-success-message">
        <%if(messages.success) {%>
        <%=messages.success%>
        <%}%>
    </div>

    <div class="flash-error-message">
        <%if(messages.error) {%>
        <%=messages.error%>
        <%}%>
    </div>
</div>