<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <%if(User.role===0){%>

            <ul class="nav nav-primary">

                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-layer-group"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <!-- <i class="fa fa-ellipsis-h"></i> -->
                    </span>
                    <h4 class="text-section">Configuration</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-users-cog"></i>
                        <p>Customizations</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/listrecord">
                                    <span class="sub-item">List record</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/customform">
                                    <span class="sub-item">Form Design</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/Distributor">
                                    <span class="sub-item">Distributors</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/Manufacturer">
                                    <span class="sub-item">Manufacturers</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarProductLayouts">
                        <i class="fas fa-database"></i>
                        <p>Product Data</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarProductLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/AttributeSet">
                                    <span class="sub-item">Attributes</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/inputfield">
                                    <span class="sub-item">Item Fields</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/inputfield/inputgroup">
                                    <span class="sub-item">Item Group</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="sub-item">Catalogue</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="sub-item">Catalogue Hierarchy</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">SYSTEM</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#charts">
                        <i class="fas fa-users"></i>
                        <p>User Managment</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/users">
                                    <span class="sub-item">Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/loginreport">
                                    <span class="sub-item">Login Report</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarProductLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Product Data</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarProductLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/AttributeSet">
                                    <span class="sub-item">Attributes</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/inputfield">
                                    <span class="sub-item">Item Fields</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/inputfield/inputgroup">
                                    <span class="sub-item">Item Group</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Catalogue</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Catalogue Hierarchy</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li> -->

                
                <li class="nav-section">
            
                    <h4 class="text-section">Raw Data</h4>
                </li>
                <li class="nav-item">
                    <a  href="/admin/importRawData">
                        <i class="fas fa-file-import"></i>
                        <p>Import</p>

                    </a>

                </li>
            </ul>
            <% } %> 
        </div>
    </div>
</div>
<!-- End Sidebar -->