<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quiz</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/dataTables.min.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Add Quiz
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            Create Awesome Quiz powered by Amigos' LMS and assign to Students.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mb-4">
                        <div class="card col-12">
                            <div class="card-body">
                                <form action="/faculty/addQuiz" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-12">
                                                <img id="output" src="" style="width: 100%; height: 200px;">
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <input type="file" id="image" name="image" class="form-control-file"
                                                    accept="image/*" onchange="loadFile(event)">
                                                <small class="form-text"><b class="text-danger">*</b>
                                                    only png,
                                                    jpeg,
                                                    jpg format
                                                    accepted.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="name"><b class="text-danger">*</b> Quiz
                                                        Name</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="name"
                                                            id="name" value="" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="duration"><b class="text-danger">*</b> Quiz
                                                        Duration (in minutes)</label>
                                                    <div>
                                                        <input type="number" class="form-control" name="duration"
                                                            id="duration" value="" required>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label for="description"><b class="text-danger">*</b> Quiz
                                                        Description
                                                    </label>
                                                    <textarea class="form-control" id="description" name="description"
                                                        style="height: 100px;"></textarea>
                                                </div>
                                            </div>

                                            <hr>
                                            <div class=" d-flex justify-content-end">
                                                <button id="submitbtn" type="submit" style=" text-decoration: none;"
                                                    class="btn btn-lg text-black btn-link">Create
                                                    Quiz</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                            <%-include('../partials/footerpage.ejs')%>

            </div>
        </div>
    </div>



    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
        $('form').on('submit', function (e) {
            var submit = $(this).find('[clicked=true]')[0];
            if (!submit.hasAttribute('disabled')) {
                submit.setAttribute('disabled', true);
                $('#submitbtn').addClass('spinner spinner-white spinner-right')
                setTimeout(function () {
                    submit.removeAttribute('disabled');
                }, 1000);
            }
            submit.removeAttribute('clicked');
        });
        $('[type=submit]').on('click touchstart', function () {
            this.setAttribute('clicked', true);
        });
    </script>

</body>

</html>