<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .mt-2 {
        margin-top: .5rem !important;
    }

    .text-center {
        text-align: center !important;
    }

    .app-login-box h4 {
        margin-bottom: 1.5rem;
        font-weight: normal;
    }

    .app-login-box h4 div {
        opacity: .6;
    }

    .app-login-box h4 span {
        font-size: 1.1rem;
    }
</style>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow closed-sidebar-mobile closed-sidebar">
        <div class="app-container closed-sidebar-mobile closed-sidebar">
            <div class="h-100">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                       
                        <br>
                        <div class="modal-dialog w-100 mx-auto shadow-lg">
                            <form action="/user/changePassword" method="post">
                            <div class="modal-content">
                                <div class="modal-header d-flex justify-content-center bg-primary">
                                        <img src="/uploads/3.png">
                                </div>
                                <div class="modal-body">
                                    
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2">
                                            <div>Change Your Password</div>
                                            <span>Enter details below to change your password</span>
                                        </h4>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="currentPassword" class="">Current Password</label>
                                                <input type="password" name="currentPassword" id="currentPassword"
                                                    class="form-control" required autofocus>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="newPassword" class="">Enter New Password</label>
                                                <input type="password" name="newPassword" class="form-control"
                                                    id="newPassword" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="confirmPassword" class="">Enter New Password
                                                    Again</label>
                                                <input type="password" class="form-control" name="confirmPassword"
                                                    id="confirmPassword" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-left">
                                        <a href="/" class="btn-lg btn btn-link">Back to dashoard</a>
                                    </div>
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary">Change My Password</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>

</body>

</html>