<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    h4 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    h4 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 400;
        line-height: 1.2;
        color: inherit;
    }

    h4 {
        font-size: 1.5rem;
    }

    .app-login-box h4 {
        margin-bottom: 1.5rem;
        font-weight: normal;
    }

    .app-login-box h4 div {
        opacity: .6;
    }

    .app-login-box h4 span {
        font-size: 1.1rem;
    }
</style>

<body>
    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="col-lg-4" id="laptopimg"
                        style="display: none; background-color: #f2f4f8;align-items: center;display: flex;">
                    
                        <img style="width: 100%;" src="/uploads/2.png">
                    
                    </div>
                    <br>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                            <div style="display: none;" id="mobileimg">
                                <img src="https://pngimg.com/uploads/ibm/ibm_PNG19658.png"
                                    style=" width: 100px; height: 50px;">
                            </div>
                            <br>
                            <h4>
                                <div>Forgot your Password?</div>
                                <span>Use the form below to recover it.</span>
                            </h4>
                            <div>
                                <form action="/user/forgotPassword" method="POST">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class="">Email</label>
                                                <input name="email" id="email" placeholder="Email here..." type="email"
                                                    class="form-control" required
                                                    title="Email is required to change password" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-5 d-flex align-items-center">
                                        <h6 class="mb-0">
                                            <a href="/" class="text-primary">Sign in existing
                                                account</a>
                                        </h6>
                                        <div class="ml-auto ">
                                            <button type="submit" class="btn btn-primary btn-lg" id="submitbtn">Recover
                                                Password</button>
                                        </div>
                                    </div>
                                    <br>
                                    <%-include('../partials/footer.ejs')%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="/js/main.js"></script>
    <script>
        $('form').on('submit', function (e) {
            var submit = $(this).find('[clicked=true]')[0];
            if (!submit.hasAttribute('disabled')) {
                submit.setAttribute('disabled', true);
                $('#submitbtn').addClass('spinner spinner-white spinner-right')
                setTimeout(function () {
                    submit.removeAttribute('disabled');
                }, 1000);
            }
            submit.removeAttribute('clicked');
        });
        $('[type=submit]').on('click touchstart', function () {
            this.setAttribute('clicked', true);
        });

        $(document).ready(function () {

            if (screen.width < 990) {

                $('#mobileimg').show()
            }
            else {
                $('#laptopimg').show()

            }
        });
    </script>
</body>

</html>