<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .mt-2 {
        margin-top: .5rem !important;
    }

    .text-center {
        text-align: center !important;
    }

    .app-login-box h4 {
        margin-bottom: 1.5rem;
        font-weight: normal;
    }

    .app-login-box h4 div {
        opacity: .6;
    }

    .app-login-box h4 span {
        font-size: 1.1rem;
    }
</style>

<body>
    <div class="app-container app-theme-white body-tabs-shadow closed-sidebar-mobile closed-sidebar">
        <div class="app-container closed-sidebar-mobile closed-sidebar">
            <div class="h-100">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="d-flex justify-content-center">
                            <img src="https://pngimg.com/uploads/ibm/ibm_PNG19658.png"
                                style=" width: 100px; height: 50px;">
                        </div>
                        <br>
                        <div class="modal-dialog w-100 mx-auto shadow-lg">
                            <form id="resetPasswordForm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2">
                                            <div>Reset Your Password</div>
                                            <span>Enter details below to reset your password</span>
                                        </h4>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="code" class="">Verification code</label>
                                                <input type="text" class="form-control" name="code" id="code" required
                                                    autofocus>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="newPassword" class="">Enter New Password</label>
                                                <input type="password" name="newPassword" id="newPassword"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="confirmPassword" class="">Enter New Password
                                                    Again</label>
                                                <input type="password" name="confirmPassword" id="confirmPassword"
                                                    class="form-control" required>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer clearfix">
                                    <div class="float-left">
                                        <a href="/" class="btn-lg btn btn-link">back to login</a>
                                    </div>
                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary ">Change My Password</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="text-center text-dark opacity-8 mt-3">Copyright © Amigos 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>

    <script>
        $('#resetPasswordForm').submit(e => {
            e.preventDefault()
            const { code, newPassword, confirmPassword } = e.currentTarget.elements
            if (newPassword.value != confirmPassword.value)
                return iziToast.error({
                    title: 'Validation Error!',
                    message: 'New & Confirm Passwords do not match!'
                })

            const obj = {
                code: code.value,
                newPassword: newPassword.value,
                confirmPassword: confirmPassword.value
            }

            fetch('/user/resetPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            })
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status == 200) {
                        iziToast.success({
                            message: 'Password Reset Successful!'
                        })
                        setTimeout(function () {
                            location = '/login'
                        }, 1000)
                    } else
                        iziToast.error({
                            message: json.message
                        })
                })
                .catch(err => console.log(err))
        })
    </script>

</body>

</html>