<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    @media (max-width: 767.98px) {
        .app-container .page-top-wrapper::after {
            display: none !important;
        }

        .app-container .page-top-wrapper .page-hero {
            min-height: 100px;
            height: auto;
            padding: 6.75rem 0 1.5rem;
        }

        .app-container .page-top-wrapper .page-hero .hero-p {
            margin-top: 1rem;
            line-height: 1.6rem;
        }

        .app-container .page-top-wrapper .page-hero .hero-h3 {
            display: none;
        }

        .app-container .page-top-wrapper .page-hero .page-hero-inner {
            padding: 1.5rem;
        }

        .icon-wrapper {
            margin-top: 0.75rem !important;
        }

        .page-top-wrapper-alt2 .page-hero {
            padding: 1.5rem 0 !important;
        }

        .page-top-wrapper-alt2 .page-hero .page-hero-inner {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .page-top-wrapper-alt2 .page-hero .page-hero-inner .hero-h3 {
            display: block !important;
        }

        .page-top-wrapper-alt2 .page-hero .page-hero-inner .hero-p.mb-5 {
            margin-bottom: 1.5rem !important;
        }
    }

    .icon-wrapper {
        display: flex;
        align-content: center;
        align-items: center;
    }

    .icon-wrapper {
        width: 54px;
        height: 54px;
        margin: 5px auto 0.66667rem;
        position: relative;
        overflow: hidden;
    }

    .icon-wrapper .icon-wrapper-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        opacity: .2;
    }

    .icon-wrapper i {
        margin: 0 auto;
        font-size: 1.7rem;
        position: relative;
        z-index: 5;
    }

    .icon-wrapper i:before {
        margin-top: -3px;
    }

    [class^="lnr-"] {
        font-family: 'Linearicons-Free';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .lnr-store:before {
        content: "\E82D";
    }

    .page-top-wrapper {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-color: #2a2b2f;
        background-image: url(https://wallpapercave.com/wp/wp3404265.jpg);
        border-bottom: #dee2e6 solid 1px;
    }

    .page-top-wrapper::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 33;
        width: 100%;
        height: 100%;
        background: rgba(42, 43, 47, 0.3);
    }

    .page-top-wrapper-alt .page-hero {
        height: auto;
    }

    .page-top-wrapper-alt2 .page-hero {
        min-height: 100px;
    }

    .page-hero {
        position: relative;
        min-height: 500px;
    }

    .page-hero .hero-p,
    .page-hero .hero-h3 {
        color: #fff;
        text-align: center;
        max-width: 740px;
        margin: 0 auto;
        display: block;
    }

    .page-hero .hero-p {
        font-size: 1.25rem;
        color: #adb5bd;
    }

    .page-hero .hero-h3 {
        font-size: 2.3rem;
        font-weight: 500;
        font-weight: normal;
        margin: 2rem auto 1.2rem;
    }

    .page-hero .page-hero-inner {
        margin: 0 auto;
        position: relative;
        z-index: 40;
        padding: 50px 0 0;
        width: 100%;
    }

    .page-hero-bottom .page-hero-inner {
        padding: 3rem 0;
        text-align: center;
    }

    h3 {
        font-family: "Bariol", sans-serif;
    }

    .btn-big {
        font-family: "Rubik", sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .buy-buttons .btn-success {
        padding: 1.3rem 2rem;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    .buy-buttons .btn-success span {
        opacity: .8;
        padding-right: 1rem;
    }

    @media (max-width: 991.98px) {
        .page-hero .hero-h3 {
            font-size: 1.4rem;
        }

        .page-hero .hero-p {
            font-size: .9rem;
        }
    }

    .btn {
        box-shadow: 0;
    }

    .btn :hover {
        box-shadow: 0;
    }
</style>

<body>

    <%-include('../partials/config')%>
    <!-- 
    <%=User.email%>

    <form action="/user/logout?_method=DELETE" method="POST">
        <button type="submit">Sign Out</button>
    </form> -->
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="page-top-wrapper page-top-wrapper-alt page-top-wrapper-alt2">
                        <div name="buy-now">
                            <div class="page-hero page-hero-bottom">
                                <div class="page-hero-inner">
                                    <h2 class="hero-h3">HELP ARTICLES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container">
                        <div style="width: 100%;max-width: 600px;margin: 0px auto;">
                            <article>
                                <h2 class="article-title"><strong> Solve problems with your ICE LMS account</strong>
                                </h2>
                                <div class="card-body">
                                    <p>If you need to change your account settings, like your name, email
                                        address, or password, you can use your <a href="/user/profile"
                                            rel="noopener noreferrer">My Profile</a> page.</p>
                                    <p>If you're having trouble with your account, check&nbsp;below.</p>
                                </div>
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <div class="card-header">
                                            <h5 class="card-title">Frequently Asked Question</h5>
                                        </div>
                                        <div id="exampleAccordion" data-children=".item">
                                            <div class="item mb-2">
                                                <button type="button" aria-expanded="true"
                                                    aria-controls="exampleAccordion1" data-toggle="collapse"
                                                    href="#collapseExample" class="m-0 p-0 btn btn-link"
                                                    style="font-size: 1.1rem;">I can't log in
                                                    to my account</button>

                                                <div data-parent="#exampleAccordion" id="collapseExample"
                                                    class="collapse mt-2 border p-2">
                                                    <p class="mb-1">if you can't login to your account</p>
                                                    <ul>
                                                        <li>Make sure you're using the right email address.</li>
                                                        <li>Signout from the site and Try <a
                                                                href="/user/forgotPassword">resetting your
                                                                password</a>. </li>
                                                        <li>you are deactiveted by spoc or admin ask them for
                                                            activation.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item mb-2">
                                                <button style="font-size: 1.1rem;" type="button" aria-expanded="false"
                                                    aria-controls="exampleAccordion2" data-toggle="collapse"
                                                    href="#collapseExample2" class="m-0 p-0 btn btn-link">My email
                                                    address isn't working</button>
                                                <div data-parent="#exampleAccordion" id="collapseExample2"
                                                    class="collapse border mt-2 p-2">
                                                    <p class="mb-2">If you see a message that says "User not found" when
                                                        you try to log
                                                        in
                                                        or change your password, the problem could be:</p>
                                                    <ul>
                                                        <li>You used a different address when your college made your
                                                            account. If you have a different email address, try
                                                            using that one.</li>
                                                        <li>You mis-typed your email address when you trying to login to
                                                            your
                                                            account. Try entering common typos or variations on
                                                            your email address.</li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <button style="font-size: 1.1rem;" type="button" aria-expanded="false"
                                                    aria-controls="exampleAccordion2" data-toggle="collapse"
                                                    href="#collapseExample3" class="m-0 p-0 btn btn-link">A course I
                                                    enrolled in is missing from my account</button>
                                                <div data-parent="#exampleAccordion" id="collapseExample3"
                                                    class="collapse border mt-2 p-2">
                                                    <p class="mb-2">If you can't find a new course after you enroll,
                                                        check your <a href="/user/courses"> Courses </a>tab for list
                                                        of your
                                                        enrolled courses.</p>

                                                    <p>In other case:</p>
                                                    <ul>
                                                        <li>Your Course has been expired and moved to <a
                                                                href="/user/achivedCourses">achived courses</a> tab</li>
                                                        <li>ask your college spoc. find spoc details in <a
                                                                href="/user/college">college</a> tab </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
</body>

</html>